body{
    margin: 0;
    padding: 0;
}

#cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: rgb(143, 65, 81);
    color: white;
}

#logo_brecho{
    width: 100px;
    height: 100px;
}

<<<<<<< HEAD
#rodape{
    background-color: rgb(143, 65, 81);
}
=======
#titulo_produtos{
    text-align: center;
    font-size: 35px;
    color: rgb(143, 65, 81);
}
>>>>>>> c470b5f26ee2379dcd0678a7d6f7fae5bdaf99c9
